.custom-slider {
  .custom-navigation {
    display: flex;
    align-items: center;
    gap: 0 20px;
  }

  .custom-pagination {
    &.swiper-pagination-horizontal {
      flex: 1;
      height: 2px;
      background-color: #dcdcdc;
      position: relative;
      overflow: hidden;
    }

    .swiper-pagination-progressbar-fill {
      background-color: #009bc9;
      height: 100%;
      width: 100%;
      transform-origin: left;
    }
  }

  .swiper-pagination {
    position: static;
  }
}
