@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-blue: #009bc9;
  --color-blue-2: #89cee7;
  --color-gray: #939598;
  --color-gray-light-1: #dcdcdc;
  --color-gray-light-2: #f6f6f6;
}

@layer base {
  html,
  body {
    @apply max-w-screen overflow-x-hidden;
  }

  body {
    @apply bg-white text-black antialiased;
  }

  a,
  button {
    @apply cursor-pointer focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2 focus-visible:ring-offset-white focus-visible:outline-none;
  }
}

@layer components {
  .typo-title-1 {
    @apply text-[1.625rem] leading-[2.188rem] lg:text-[2.25rem] lg:leading-[2.875rem];
  }

  .typo-title-2 {
    @apply text-[1.25rem] leading-[1.813rem] lg:text-[1.625rem] lg:leading-[2.25rem];
  }

  .typo-title-3 {
    @apply text-[1.125rem] leading-[1.688rem] lg:text-[1.313rem] lg:leading-[1.938rem];
  }

  .typo-body-1 {
    @apply text-[0.938rem] leading-[1.563rem];
  }

  .typo-body-2 {
    @apply text-[0.938rem] leading-[1.375rem];
  }

  .typo-body-3 {
    @apply text-[0.625rem] leading-[1rem];
  }

  .btn-square {
    @apply flex items-center justify-center transition-colors duration-300 [&>*]:duration-300;
    width: var(--btn-size, 3.125rem);
    height: var(--btn-size, 3.125rem);
    background-color: var(--btn-bg-color, var(--color-white));
    color: var(--btn-text-color, var(--color-black));

    &:hover {
      background-color: var(--btn-bg-color-hover, var(--color-blue));
      color: var(--btn-text-color-hover, var(--color-white));
    }
  }

  .btn-square-blue {
    --btn-bg-color: var(--color-blue);
    --btn-text-color: var(--color-white);
    @apply before:bg-blue-2/30 relative before:absolute before:inset-0 before:opacity-0 before:transition-opacity before:duration-300 hover:before:opacity-100 [&>*]:relative;
  }

  .btn-square-gray {
    --btn-bg-color: var(--color-gray);
    --btn-text-color: var(--color-white);
  }

  .btn-square-text-blue {
    --btn-text-color: var(--color-blue);
  }

  .btn-square-sm {
    --btn-size: 2.5rem;
  }

  .btn-square-border {
    @apply border-gray-light-1 border hover:border-transparent;
  }
}

@utility cs-container {
  @apply mx-auto max-w-[1024px] px-5;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
