@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-blue: #009bc9;
  --color-blue-2: #89cee7;
  --color-gray: #939598;
  --color-gray-light-1: #dcdcdc;
  --color-gray-light-2: #f6f6f6;
}

@layer base {
  html,
  body {
    @apply max-w-screen overflow-x-hidden;
  }

  body {
    @apply min-h-screen bg-white text-black antialiased;
  }

  a,
  button {
    @apply cursor-pointer focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2 focus-visible:ring-offset-white focus-visible:outline-none;
  }
}

@layer components {
  .typo-title-1 {
    @apply text-[1.625rem] leading-[2.188rem] lg:text-[2.25rem] lg:leading-[2.875rem];
  }

  .typo-title-2 {
    @apply text-[1.25rem] leading-[1.813rem] lg:text-[1.625rem] lg:leading-[2.25rem];
  }

  .typo-title-3 {
    @apply text-[1.125rem] leading-[1.688rem] lg:text-[1.313rem] lg:leading-[1.938rem];
  }

  .typo-body-1 {
    @apply text-[0.938rem] leading-[1.563rem];
  }

  .typo-body-2 {
    @apply text-[0.938rem] leading-[1.375rem];
  }

  .typo-body-3 {
    @apply text-[0.625rem] leading-[1rem];
  }
}

@utility c-container {
  @apply mx-auto max-w-[77.5rem] max-lg:px-4;
}

@utility c-container-px {
  @apply mx-auto max-w-[77.5rem] px-4 lg:px-[3.125rem];
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
