@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #009bc9;
  --color-blue-2: #89cee7;
  --color-gray: #939598;
  --color-gray-light-1: #dcdcdc;
  --color-gray-light-2: #f6f6f6;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  body {
    background-color: var(--bg-color, var(--color-white));
    @apply min-h-svh text-black antialiased;
  }

  a,
  button {
    @apply focus-visible:ring-blue cursor-pointer focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-white focus-visible:outline-none;
  }

  @media (pointer: coarse) {
    /** fixed ring focus show on smartphone */
    button:focus-visible,
    a:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  #header {
    background-color: var(--bg-color, var(--color-white));
  }
}

@layer components {
  .typo-title-1 {
    @apply text-[1.625rem] leading-[2.188rem] lg:text-[2.25rem] lg:leading-[2.875rem];
  }

  .typo-title-2 {
    @apply text-[1.25rem] leading-[1.813rem] lg:text-[1.625rem] lg:leading-[2.25rem];
  }

  .typo-title-3 {
    @apply text-[1.125rem] leading-[1.688rem] lg:text-[1.313rem] lg:leading-[1.938rem];
  }

  .typo-body-1 {
    @apply text-[0.938rem] leading-[1.563rem];
  }

  .typo-body-2 {
    @apply text-[0.813rem] leading-[1.125rem];
  }

  .typo-body-3 {
    @apply text-[0.625rem] leading-[1rem];
  }

  .card-hover-image {
    @apply after:absolute after:inset-0 after:bg-black/10 after:transition-opacity after:duration-300 after:content-[""] group-hover/card:after:opacity-0;

    & > img {
      @apply transition-all duration-300 group-hover/card:scale-110;
    }
  }

  .skeleton {
    @apply bg-gray-light-1 animate-pulse;
  }

  .list-project {
    @apply grid gap-5 md:grid-cols-2 lg:grid-cols-3;
  }

  .list-awards-press {
    @apply space-y-4 lg:space-y-10;
  }

  .list-people {
    @apply grid grid-cols-2 gap-x-2.5 gap-y-4 md:grid-cols-3 lg:grid-cols-4 lg:gap-x-7.5 lg:gap-y-2.5;
  }

  .article-detail-container-large {
    @apply mx-auto max-w-[88.75rem] lg:px-[5.625rem];

    & .social-share-sticky {
      @apply max-[88.75rem]:right-5 min-[88.75rem]:right-1/2 min-[88.75rem]:translate-x-[calc(38.75rem+4.125rem)];
    }
  }

  .article-detail-container-small {
    @apply mx-auto max-w-[70.313rem] lg:px-[5.625rem];

    & .social-share-sticky {
      @apply max-[70.313rem]:right-5 min-[70.313rem]:right-1/2 min-[70.313rem]:translate-x-[calc(29.531rem+4.125rem)];
    }
  }

  .detail-content {
    .title-1,
    .title-1-bold {
      @apply text-[1.625rem] leading-[2.188rem] lg:text-[2.25rem] lg:leading-[2.875rem];
    }

    .title-2,
    .title-2-bold {
      @apply text-[1.25rem] leading-[1.813rem] lg:text-[1.625rem] lg:leading-[2.25rem];
    }

    .title-3,
    .title-3-bold {
      @apply text-[1.125rem] leading-[1.688rem] lg:text-[1.313rem] lg:leading-[1.938rem];
    }

    .body-1,
    .body-1-bold {
      @apply text-[0.938rem] leading-[1.563rem];
    }

    .body-2,
    .body-2-bold {
      @apply text-[0.813rem] leading-[1.125rem];
    }

    .body-3,
    .body-3-bold {
      @apply text-[0.625rem] leading-[1rem];
    }

    .title-1-bold,
    .title-2-bold,
    .title-3-bold,
    .body-1-bold,
    .body-2-bold,
    .body-3-bold {
      @apply font-bold;
    }

    ul {
      @apply space-y-1;

      & > li {
        @apply relative list-none pl-6 before:absolute before:top-2.5 before:left-2.5 before:size-0.75 before:rounded-full before:bg-current before:content-[''];
      }
    }

    ol {
      @apply space-y-1;

      & > li {
        @apply ml-6 list-decimal;
      }
    }

    a {
      @apply decoration-gray-light-1 hover:decoration-blue inline-block underline underline-offset-4 transition-colors;
    }

    img {
      @apply h-auto max-w-full;
    }
  }
}

@utility c-container {
  @apply mx-auto max-w-[82.5rem] px-4 lg:px-10;
}

@utility c-container-sm {
  @apply mx-auto max-w-[76.25rem] px-4 lg:px-10;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility hover-icon-stroke-white {
  @apply [&_svg_path]:transition-colors hover:[&_svg_path]:stroke-white;
}
